body {
  background-color: #d8e3e7;
}

hr {
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 100%;
}

img {
  height: 200px;
}

h1 {
color: #fb3640;

}

h3 {
  color: #325288;
}
